
  table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }
  
  th, td {
    border: 1px solid white;
    padding: 1em;
    background-color: pink;
    border-bottom: 2px solid white; 
    color: white;
  }

  #firstKitty {
    width: 300px;
    height: autopx;
  }

  #secondKitty {
    width: 300px;
    height: auto;
  }

  #thirdKitty {
    width: 300px;
    height: auto;
  }

  #fourthKitty {
    width: 300px;
    height: auto;
  }

  .width {
    width: 300px;
  }

  hr {
    height: 1px;
    background-color: pink;
    color:pink;
  }

  .container {
    border: 2px solid pink;
    border-radius: 1em;
    color: pink;

  }

  body {
      max-width: 50%;
      margin-left: 25%;
  }

  h1 {
      text-align: center;
      color: pink;
  }

  a {
    color: pink;
  }

  footer {
      text-align: center;
      color: pink;
  }

  .classWithBorders {
    border: 2px solid pink;
    border-radius: 1em;
    text-align: center;
    list-style-position: inside;
    color:pink;
  }

  img {
      border-radius: 15%;
  }

  p {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
  }

 .lastItem {
      margin-bottom: 15px;
  }

  .font {
      font-size: larger;
      font-weight: bold;
  }